SCHEDULE_APP_NAME=Schedule Cloud API
SCHEDULE_APP_HOST=0.0.0.0
SCHEDULE_APP_PORT=8000
SCHEDULE_DEBUG=true
SCHEDULE_MYSQL_HOST=127.0.0.1
SCHEDULE_MYSQL_PORT=3306
SCHEDULE_MYSQL_USER=root
SCHEDULE_MYSQL_PASSWORD=root
SCHEDULE_MYSQL_DATABASE=schedule_app
SCHEDULE_JWT_SECRET_KEY=change-me
SCHEDULE_JWT_ALGORITHM=HS256
SCHEDULE_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080
SCHEDULE_CORS_ALLOW_ORIGINS=*
